<table class="table table-hover" ng-controller="SearchCommitteeApplicantsController">
    <thead>
    <tr>
        <th ng-repeat="(key, value) in applicants[0]">
                    <span ng-if="!(key=='tempStatus'|| key=='ApplicantStatus')">
                        {{key}}
                    </span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="applicant in applicants">
        <td ng-repeat="(key, value) in applicant">
                     <span ng-if="!(key=='tempStatus'|| key=='ApplicantStatus')">
                        {{value}}
                    </span>
        </td>
        <td>
            <select ng-model="applicant.tempStatus" ng-init="applicant.tempStatus=applicant.ApplicantStatus"
                    ng-options="option.statusID as option.description for option in statusOptions"
                    required>
            </select>
        </td>
        <td><button class="btn btn-primary" ng-click="changeStatus(applicant)">Change</button></td>
    </tbody>
</table>