<div class="card">
    <div class="card-header" ng-class="$ctrl.getCardStyle($ctrl.editMode)">
        <button class="btn" data-toggle="collapse" data-target="#insuranceCard" aria-expanded="false"
                aria-controls="insuranceCard">+
        </button>
        Insurance Card
    </div>
    <div class="card-body collapse"  ng-class="$ctrl.getCardStyle($ctrl.editMode)" id="insuranceCard">

        <table class="table minerva-table">
            <thead>
            <tr>
            <th colspan="3">
                <button class="btn btnEdit" ng-hide="$ctrl.editMode" ng-click="$ctrl.enableEdits()">Edit</button>
                <button class="btn btnSave" ng-hide="!$ctrl.editMode" ng-click="$ctrl.saveEdits()">Save</button>
                <button class="btn btnCancel" ng-hide="!$ctrl.editMode" ng-click="$ctrl.cancelEdits()">Cancel</button>
            </th>
            </tr>
            </thead>
            <tbody style="border: 1px solid black;">
            <tr ng-repeat="tempInsurance in $ctrl.dataList track by $index" style="border: 1px solid black;">
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <td>Type</td>
                            <td><input  ng-model="tempInsurance.InsuranceType" ng-readonly="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Policy Number</td>
                            <td><input  ng-model="tempInsurance.PolicyNumber"
                                        ng-readonly="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Group Number </td>
                            <td><input  ng-model="tempInsurance.GroupNumber"
                                        ng-readonly="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Expr Date </td>
                            <td><input type="date" ng-model="tempInsurance.PolicyExpDate"
                                       ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Policy Holder Name </td>
                            <td><input  ng-model="tempInsurance.PolicyHolderName"
                                        ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Relationship </td>
                            <td><input  ng-model="tempInsurance.PolicyHolderRelationship"
                                        ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td>Co-Pay</td>
                            <td><input  ng-model="tempInsurance.CopayInfo"
                                        ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td style="border: 1px solid black;">
                    <table>
                        <tbody>
                        <tr>
                            <td> Company</td>
                            <td><input  ng-model="tempInsurance.InsCoName" ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td> Address:</td>
                            <td><input  ng-model="tempInsurance.InsCoAddress" ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td><input  ng-model="tempInsurance.InsCoAddress2" ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input  ng-model="tempInsurance.InsCoCity" ng-disabled="!$ctrl.editMode"/>
                                <input  ng-model="tempInsurance.InsCoState" ng-disabled="!$ctrl.editMode"/>
                                <input  ng-model="tempInsurance.InsCoZip" ng-disabled="!$ctrl.editMode"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Phone </td>
                            <td><input type="tel" ng-model="tempInsurance.InsCoPhone" ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        <tr>
                            <td> Fax</td>
                            <td><input type="tel" ng-model="tempInsurance.InsCoFax" ng-disabled="!$ctrl.editMode"/></td>
                        </tr>
                        </tbody>
                    </table>


                </td>
                <td>

                    <button class="btn btnDelete"
                            ng-hide="!$ctrl.editMode"
                            ng-click="$ctrl.deleteRecord($index)">Delete</button>
                </td>

            </tr>
            </tbody>
        </table>
        <span ng-hide="!$ctrl.editMode">
                <button class="btn btnCreate" ng-click="$ctrl.createRecord()">Add</button>
                </span>
    </div>
</div>